<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Social
    </ion-title>
    <ion-buttons slot="end">
      <ion-button id="changeText" (click)="presentModal()">
        <ion-icon slot="start" name="settings-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-searchbar></ion-searchbar>
  <ion-card>
    <img src="/assets/Among_us.jpg" />
    <ion-card-header>
      <ion-card-subtitle>27/01/2021 <ion-icon name="time-outline"></ion-icon> </ion-card-subtitle>
      <ion-card-title>Among Us</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <div>
        Rendez-vous le 27 janvier 2021 pour la 13ème soirée Among Us !
      </div>

      <div>
        <ion-toggle checked></ion-toggle>
        <span>Je participe</span>
      </div>

    </ion-card-content>
  </ion-card>

  <ion-card>
    <img src="/assets/marathon.jpg" />
    <ion-card-header>
      <ion-card-subtitle>01/02/2021</ion-card-subtitle>
      <ion-card-title>Marathon</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <div>
        Rendez-vous les 01 et 02 février 2021 pour la 40ème édition de l’Abalone Marathon de Nantes.
      </div>

      <div>
        <ion-toggle></ion-toggle>
        <span>Je participe</span>
      </div>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <img src="/assets/repas.jpg"  style="filter: grayscale(100%);"/>
    <ion-card-header>
      <ion-card-subtitle>
        <span>24/12/2020</span>
      </ion-card-subtitle>
      <ion-card-title>Repas de noël</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <div>
        Le 24 décembre à 12h, repas de noël avec tout les collègues !
      </div>

      <div>
        <ion-toggle disabled></ion-toggle>
        <span>Je participe</span>
      </div>

    </ion-card-content>

  </ion-card>

  <ion-fab horizontal="end" vertical="bottom" slot="fixed">
    <ion-fab-button color="danger">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
