<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Trophies
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <ion-list>
    <ion-list-header>
      <ion-label>Default at 50%</ion-label>
    </ion-list-header>
    <ion-progress-bar value="0.5"></ion-progress-bar>
  </ion-list>


  <ion-card>
    <img src="https://img.favpng.com/3/10/16/moustache-hairstyle-vector-graphics-beard-png-favpng-mviZEW7sJ7fQDyPAiRvdEAZ6w.jpg" />
    <ion-card-header>
      <ion-card-subtitle>26/01/2021</ion-card-subtitle>
      <ion-card-title>Nice Haircut</ion-card-title>
    </ion-card-header>
  </ion-card>

  <ion-card>
    <img src="https://media.istockphoto.com/vectors/running-man-isolated-vector-silhouette-sprinting-runner-vector-id1095063076?b=1&k=6&m=1095063076&s=612x612&w=0&h=TPaBnM1a4NRW3wl9zecD7XBCWGzPfpR7YnJTllD9ZR0=" />
    <ion-card-header>
      <ion-card-subtitle>26/01/2021</ion-card-subtitle>
      <ion-card-title>Breaking the sound barrier</ion-card-title>
    </ion-card-header>
  </ion-card>
  <ion-card>
    <img src="https://freedesignfile.com/upload/2016/08/10-Year-happy-birthday-vector-material.jpg" />
    <ion-card-header>
      <ion-card-subtitle>26/01/2021</ion-card-subtitle>
      <ion-card-title>Happy 10TH Anniversary</ion-card-title>
    </ion-card-header>
  </ion-card>
</ion-content>
