<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Chat
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">



  <ul id="chat" #chat style="height: calc(100vh - 137px); overflow-x: hidden">
    <li class="you">
      <div class="entete">
        <span class="status green"></span>
        <h2>Vincent</h2>
        <h3>10:12AM, Today</h3>
      </div>
      <div class="triangle"></div>
      <div class="message">
        Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor.
      </div>
    </li>
    <li class="me">
      <div class="entete">
        <h3>10:12AM, Today</h3>
        <h2>Vincent</h2>
        <span class="status blue"></span>
      </div>
      <div class="triangle"></div>
      <div class="message">
        Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor.
      </div>
    </li>
    <li class="me">
      <div class="entete">
        <h3>10:12AM, Today</h3>
        <h2>Vincent</h2>
        <span class="status blue"></span>
      </div>
      <div class="triangle"></div>
      <div class="message">
        OK
      </div>
    </li>
    <li class="you">
      <div class="entete">
        <span class="status green"></span>
        <h2>Vincent</h2>
        <h3>10:12AM, Today</h3>
      </div>
      <div class="triangle"></div>
      <div class="message">
        Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor.
      </div>
      <ion-button expand="block" (click)="presentModal()">
        <ion-icon name="help-circle-outline"></ion-icon>
        <ion-label>Feedback Time !</ion-label>
      </ion-button>
    </li>
    <li class="me">
      <div class="entete">
        <h3>10:12AM, Today</h3>
        <h2>Vincent</h2>
        <span class="status blue"></span>
      </div>
      <div class="triangle"></div>
      <div class="message">
        Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor.
      </div>
    </li>
    <li class="me">
      <div class="entete">
        <h3>10:12AM, Today</h3>
        <h2>Vincent</h2>
        <span class="status blue"></span>
      </div>
      <div class="triangle"></div>
      <div class="message">
        OK
      </div>
    </li>
  </ul>
  <ion-input placeholder="Enter your message ..."></ion-input>
</ion-content>
